{% extends "base.html" %}
{% block content %}
The provided API responds with JSON. The JSON contains a list of all discovered elements from your search with the 
specified dealer. Each item will contain the product name, link, image link, and price. Each query requires that
you specify a value in the "query" parameter, and each request is a POST.
<br>
<span style="color:red">/api/apmex</span><br>
<span style="color:red">/api/provident</span><br>
<span style="color:red">/api/shinybars</span><br>
<span style="color:red">/api/goldeneagle</span><br>
<span style="color:red">/api/gainesville</span><br>
<span style="color:red">/api/silvertowne</span>
<br><br>
Please be nice and don't overload my server!
<br>
{% endblock %}
