<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/code.js') }}"></script>
    <title>PM Search</title>
    <a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('api_page') }}">API</a> | 
    <a href="http://spot.seanmckaybeck.com">Spot Prices</a> | <a href="http://premium.seanmckaybeck.com">Premium Calculator</a>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
  <footer>
    Copyright 2015 Sean Beck | 
    If you have an issue, please report it on Github | 
    Donate LTC LeeN4EBRtTdNj2M1K29DxuyuhGoBkPCL1o | 
    <a href="https://github.com/ThaWeatherman/metal_search">Github</a>
  </footer>
</html>
