{% extends "base.html" %}
{% block content %}
<form class="search-form" onsubmit="return search();">
  Search Query <input type="text" name="query"><br>
  <input type="checkbox" name="apmex" class="dealer">Apmex
  <input type="checkbox" name="provident" class="dealer">Provident Metals
  <input type="checkbox" name="shinybars" class="dealer">Shiny Bars<br>
  <input type="checkbox" name="goldeneagle" class="dealer">Golden Eagle Coins
  <input type="checkbox" name="silvertowne" class="dealer">Silvertowne
  <input type="checkbox" name="gainesville" class="dealer">Gainesville Coins<br>
  <input type="submit" value="Submit">
</form>
<br><br>
<div class="products">
</div>
{% endblock %}
